{% extends 'base.html.twig' %}

{% block title %}Hello RegistroController!{% endblock %}

{% block body %}

    {# read and display just one flash message type #}
    {% for message in app.flashes('ok') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}

    {{ form(formulario) }}

{% endblock %}
