
@font-face {
  font-family: 'GoodTimingRg-Bold';
  src: url('GoodTimingRg-Bold.eot?#iefix') format('embedded-opentype'),  url('GoodTimingRg-Bold.woff') format('woff'), url('GoodTimingRg-Bold.ttf')  format('truetype'), url('GoodTimingRg-Bold.svg#GoodTimingRg-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
